# Core functionality - changes here should be rare!
/src/app.py                   @2thbq45rhn-arch
/src/backend/database.py      @2thbq45rhn-arch
/src/backend/routers/auth.py  @2thbq45rhn-arch

# The frontend will need refactored soon to be more object oriented.
/src/static/   @2thbq45rhn-arch
